/**
 * 营销活动平台 创建活动
 *
 * wb-huangshiyu@taobao.com
 */
.formLbl {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
#createCampaignForm .longText {
    width: 300px;
}
#createCampaignForm div * {
    vertical-align: middle;
}
#createCampaignForm input[type=radio] {
    margin-left: 8px;
}
#createCampaignForm textarea {
    width: 535px;
    height: 100px;
    resize: none;
    padding: 2px;
}
#createCampaignForm .formBtn {
    padding: 10px 0 0 135px;
}
#createCampaignForm .formBtn a {
    padding: 0 20px;
}

/**
 * 活动规则
 */

.content,.body{
    width:950px;
    margin:0 auto;
}
/*background-image setting start*/
.nav li,
.nav li span,
.msg-tips,
.msg-pass,
.msg-error,ul.tabs li,
#sign-tips,.box.notice table th,
.msg-block-tips,
.faq .txt-list li,ul.tabs li a,ul.tabs li strong,
#SignEntra h4,
.box.notice .bd .opt .btn,.box.notice .bd .opt .btn span{
    background:url(http://assets.taobaocdn.com/ark/img/investment_bg.png) no-repeat 1000px 1000px;
}
#SignEntra button{
    background:url(http://img05.taobaocdn.com/tps/i5/T14Z8oXf0hXXXXXXXX-122-42.png) 0 0;
}
#SignEntra{
    background:url(http://img07.taobaocdn.com/tps/i7/T1e0doXoteXXXXXXXX-952-300.png) no-repeat -1px -1px;
    margin-top:15px;
}
/*background-image setting end*/


 .box{
    position:relative;
    zoom:1;
 }
 .box .hd{
    position:relative;
    background:none;
    border:none;
    height:auto;
 }
 .box .bd{
    background:none;
    border:none;
}
 .box .ft .act{
    position:absolute;
    right:0;
    top:0;
 }
  .box .ft .act li{
    float:left;
    margin-right:8px;
  }
.box.apply .hd h3{
    width:160px;
    text-align:right;
    font-size:14px;
}.box.apply .hd h3 span.note{
    font-weight:100;
    color:#999;
}
.box.apply .bd{
    padding:15px;
}
.box.apply .bd .notes{
    padding:0 120px 30px 195px;
}
.box.apply .ft .act{
    top:15px;
}
.box.info .hd h3{
    font-size:14px;
    padding:0;
}
.box.info .bd{
    padding:15px 0;
}
.box.info .bd .info-list{
    border:2px solid #f1f1f1;
    background:#f9f9f9;
    padding:5px 0;
    margin-bottom:10px;
    zoom:1;
}
.box.info .bd .info-list label{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:325px;
    padding-right:5px;
    text-align:right;
    line-height:1.5;
}
.box.info .bd .opt{
    padding:10px 0 10px 257px;
}
.box.info .bd .opt button{
    padding:0 23px;
    *overflow:visible;
    margin-right:8px;
}
.box.info .bd .msg{
    margin-bottom:12px;
}
.box.list .hd h3{
    padding:10px 0;
}
.box.list .bd{
    padding:20px 25px;
    background:#f3f3f3;
}
.box.list .ft .act{
    top:12px;
}
.box.notice .hd h2{
    border-bottom:1px solid #ccc;
    padding:10px 0;
    font-size:14px;
}
.box.notice .bd{
    padding:20px;
    line-height:1.8;
}
.box.notice .bd .msg{
    margin-bottom:10px;
}
.box.notice .bd .artical p{
    padding:10px 0;
}
.box.notice .bd ol{
    line-height:2.5;
    margin-bottom:10px;
    list-style:decimal;
    padding-left:20px;
}
.box.notice .bd .opt{
    padding:10px 0 10px 300px;
}
.box.notice .bd .opt .btn,.box.notice .bd .opt .btn span{
    background-position: 0 1000px;
    font-weight:100;
    font-size:12px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    line-height:25px;
    padding:0;
}

.box.notice .bd .opt .btn span button{
    background:transparent;
    border:0;
    color:#666;
    line-height:25px;
    height:25px;
    width:118px;
    font-weight:100;
    font-family:tahoma;
    font-size:12px;
}
.box.notice .bd .opt .btn{
    display:inline-block;
    *display:inline;
    *zoom:1;
    background-position:-3px -114px;
    width:118px;
    text-align:center;
    height:25px;
    line-height:25px;
    float:left;
    margin:0 10px;
}
.box.notice .bd .opt .btn:hover,.box.notice .bd .opt .btn.hover{
    background-position: -3px -157px ;
    text-decoration:none;
}
.box.notice .bd .opt .btn span a{
    color:#666;
    display:inline-block;
    *zoom:1;
    *display:inline;
}
.box.notice .bd .high-light{
    font-weight:700;
    color:#f00;
}
.box.notice .bd h4{
    font:700 12px/1.8 arial;
}
.box.notice .bd span{
    display:inline-block;
    font-size:12px;
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
    color:#333333;
    padding:0 20px;
    vertical-align: middle;
    width:90px;
    
}
.box.notice .bd p, .box.notice .bd .p{
    display:inline-block;
    margin:15px 0;
    
}
.box.notice .bd .long{
width:286px;    
}
.box.notice .bd .long input{
padding:0;  
}
.box.notice .bd span input{
vertical-align: middle;
}
.box.notice .pagination{
    text-align:right;
    margin:10px auto;
}
.box.notice .pagination .page-cur{
    color:#f00;
}
.box.notice .pagination span,.box.notice .pagination a{
    padding:2px 3px;
}
.box.notice .pagination .page-next,.box.notice .pagination .page-prev{
    border:1px solid #36c;
    padding:2px 5px;
    *padding:2px 5px 1px 5px;
}
.box.notice .pagination .page-start,.box.notice .pagination .page-end,.box.notice .pagination .end{
    color:#A0998E;
    border:1px solid #A0998E;
    padding:2px 5px;
    *padding:2px 5px 1px 5px;
    cursor:default;
    text-decoration:none;
}
.box.notice table{
    margin:10px 0;
}
.box.notice table td,.box.notice table th{
    border:1px solid #b2d1fd;
    padding:0 10px;
}
.box.notice table th{
    background-position:0 -340px;
    background-repeat:repeat-x;
    height:23px;
    white-space:nowrap;
}
