<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName" default-lazy-init="true">

	<bean id="sqlMapClientMMS" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="sqlmap.xml" />
		<property name="dataSource">
			<ref bean="datasource_mysql" />
		</property>
		<property name="lobHandler" ref="lobHandler" />
	</bean>

	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" />

	<bean id="datasource_mysql" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:MC_DataSource</value>
		</property>
		<property name="jndiTemplate">
			<ref local="jndiTemplate" />
		</property>
	</bean>
	
	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
	</bean>

	<bean id="baseSqlMapClientDAO" abstract="true" />

</beans>