/** kissy reset **/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol ,li{ list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
mark { background: #ff0; }
/*
双飞翼栅格布局 Flying Swing Grids Layout
理念：简单质朴，语义化布局。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/

/* 居中 */
#header, #content, #footer {
    margin-left: auto;
    margin-right: auto;
}

/** 布局基础样式 **/
.col-main {
    float: left;
    width: 100%;
    /* bug fix: 主栏没有内容时，在 Firefox 和 Chrome 等浏览器下，布局不对 */
    min-height: 1px;
}
.col-sub, .col-extra {
    float: left;
    /*position: relative;  按需设置，仅在需要时添加 */
}

/** 清除浮动 **/
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after, .clearfix:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.layout, .main-wrap, .col-sub, .col-extra {
    *zoom: 1;
}

/* 隐藏 */
.ks-hidden { display: none; }
.ks-invisible { visibility: hidden; }

/* 清除浮动 */
.ks-clear:after { content: '\20'; display: block; height: 0; clear: both; }
.ks-clear { *zoom: 1; }

/* inline block */
.ks-inline-block { display: inline-block; *display: inline; }

/* component */
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Cross-browser implementation of the "display: inline-block" CSS property.
 * See http://www.w3.org/TR/CSS21/visuren.html#propdef-display for details.
 * Tested on IE 6 & 7, FF 1.5 & 2.0, Safari 2 & 3, Webkit, and Opera 9.
 *
 * @author attila@google.com (Attila Bodis)
 */

/*
 * Default rule; only Safari, Webkit, and Opera handle it without hacks.
 */
.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

/*
 * Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
* html .goog-inline-block {
  display: inline;
}

/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Styling for custom buttons rendered by goog.ui.CustomButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */

.goog-button {
  margin: 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000;
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(http://img04.taobaocdn.com/tps/i4/T1ubiSXodhXXXXXXXX-7-500.png) repeat-x top left;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
.goog-button-outer-box,
.goog-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}

.goog-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}

.goog-button-inner-box {
  /* By default in FF2, block elements inside a moz-inline-box are stacked
   * horizontally next to each other.  This stops that weird behavior. */
  -moz-box-orient: vertical;
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 15px;
  white-space: nowrap; /* Prevents buttons from line breaking on android. */
}
.goog-menu-button .goog-button-inner-box{
    padding: 3px 5px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* Pre-IE7 BiDi fixes. */
* html .goog-button-rtl .goog-button-outer-box {
  /* @noflip */ left: -1px;
}
* html .goog-button-rtl .goog-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* IE7 BiDi fix. */
*:first-child+html .goog-button-rtl .goog-button-inner-box {
  /* @noflip */ left: 1px;
}

/* Safari-only hacks. */
::root .goog-button,
::root .goog-button-outer-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

::root .goog-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
.goog-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  cursor: now-allowed;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

.goog-button-disabled .goog-button-outer-box,
.goog-button-disabled .goog-button-inner-box {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: active, checked. */
.goog-button-active,
.goog-button-checked {
  background-color: #bbb;
  background-position: bottom left;
}

/* Pill (collapsed border) styles. */
.goog-button-collapse-right,
.goog-button-collapse-right .goog-button-outer-box,
.goog-button-collapse-right .goog-button-inner-box {
  margin-right: 0 !important;
}

.goog-button-collapse-left,
.goog-button-collapse-left .goog-button-outer-box,
.goog-button-collapse-left .goog-button-inner-box {
  margin-left: 0 !important;
}

.goog-button-collapse-left .goog-button-inner-box  {
  border-left: 1px solid #fff !important;
}

.goog-button-collapse-left.goog-button-checked
.goog-button-inner-box {
  border-left: 1px solid #ddd !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-button-collapse-left .goog-button-inner-box {
  left: 0 !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-button-collapse-left
.goog-button-inner-box {
  left: 0 !important;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Standard styling for buttons created by goog.ui.MenuButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* State: resting. */
.goog-menu-button {
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(http://img04.taobaocdn.com/tps/i4/T1ubiSXodhXXXXXXXX-7-500.png) repeat-x top left;
  border: 0;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
}

/* Pseudo-rounded corners. */
.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}
.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}
.goog-menu-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-menu-button-rtl .goog-menu-button-outer-box {
  /* @noflip */ left: -1px;
  /* @noflip */ right: auto;
}
* html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* IE7 BiDi fix. */
*:first-child+html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-menu-button,
::root .goog-menu-button-outer-box,
::root .goog-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}
::root .goog-menu-button-caption,
::root .goog-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
.goog-menu-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.goog-menu-button-disabled .goog-menu-button-outer-box,
.goog-menu-button-disabled .goog-menu-button-inner-box,
.goog-menu-button-disabled .goog-menu-button-caption,
.goog-menu-button-disabled .goog-menu-button-dropdown {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
.goog-menu-button-hover .goog-menu-button-outer-box,
.goog-menu-button-hover .goog-menu-button-inner-box {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

/* State: active, open. */
.goog-menu-button-active,
.goog-menu-button-open {
  background-color: #bbb;
  background-position: bottom left;
}

/* State: focused. */
.goog-menu-button-focused .goog-menu-button-outer-box,
.goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: orange;
}

/* Caption style. */
.goog-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: top;
}

/* Dropdown arrow style. */
.goog-menu-button-dropdown {
  height: 15px;
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(http://img03.taobaocdn.com/tps/i3/T1CHiSXnRhXXXXXXXX-624-16.png) no-repeat -388px 0;
  vertical-align: top;
}

/* Pill (collapsed border) styles. */
/* TODO(gboyer): Remove specific menu button styles and have any button support being a menu button. */
.goog-menu-button-collapse-right,
.goog-menu-button-collapse-right .goog-menu-button-outer-box,
.goog-menu-button-collapse-right .goog-menu-button-inner-box {
  margin-right: 0;
}

.goog-menu-button-collapse-left,
.goog-menu-button-collapse-left .goog-menu-button-outer-box,
.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  margin-left: 0;
}

.goog-menu-button-collapse-left .goog-menu-button-inner-box  {
  border-left: 1px solid #fff;
}

.goog-menu-button-collapse-left.goog-menu-button-checked
.goog-menu-button-inner-box {
  border-left: 1px solid #ddd;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */

.goog-menu {
    background: #fff;
    border-color: #ccc #666 #666 #ccc;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font: normal 13px Arial, sans-serif;
    margin: 0;
    outline: none;
}

.goog-ext-position {
    position: absolute;
    z-index: 20000; /* Arbitrary, but some apps depend on it... */
}

.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuItemRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* State: resting. */
.goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 4px 20px 4px 10px;
  white-space: nowrap;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}

.goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif;
}

/* State: disabled. */
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}
.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
  /* Use an explicit top and bottom border so that the selection is visible
   * in high contrast mode. */
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* State: selected/checked. */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}
.goog-menuitem-checked .goog-menuitem-checkbox,
.goog-menuitem-checked.goog-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(https://ssl.gstatic.com/editor/http://img03.taobaocdn.com/tps/i3/T1CHiSXnRhXXXXXXXX-624-16.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
.goog-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */ direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.SubMenuRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* State: resting. */
.goog-submenu-arrow {
    color: #000;
    left: auto;
    padding-right: 6px;
    position: absolute;
    right: 6px;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    background: url(http://img01.taobaocdn.com/tps/i1/T1FKX8XjByXXXXXXXX-16-16.png) 90% center no-repeat;

}

/* State: disabled. */
.goog-menuitem-disabled .goog-submenu-arrow {
  color: #ccc;
}


.goog-submenu {
    position: relative;
}

.goog-button-collapse-left .goog-menu-button-caption {
    display: none;
}


.wbc-switchButton .wbc-switchButton-label{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.wbc-switchButton .goog-button-inner-box{
    cursor: pointer;
}

/*--日历--*/
.ks-cal-call {background:white;height:auto;border:1px solid #9bc0e0;font-size:12px;font-family:Tahoma;}
.ks-cal-call.multi-1 {
z-index:10000;
width:189px !important;
}
.ks-cal-call.multi-2 {width:380px !important;_width:373px}
.ks-cal-call.multi-3 {width:568px !important;_width:560px}

.ks-cal-call {
    -moz-box-shadow: 2px 2px 0px #ccc;
    -webkit-box-shadow: 2px 2px 0px #ccc;
    -khtml-box-shadow: 2px 2px 0px #ccc;
    -ms-box-shadow: 2px 2px 0px #ccc;
    filter: progid:DXImageTransform.Microsoft.Shadow(direction = 155, Color = #dadada, Strength = 3), progid:DXImageTransform.Microsoft.DropShadow(Color = #22aaaaaa, OffX = 0, OffY = 0);    
}

.ks-cal-call .ks-cal-box {margin:4px;_margin:4px 2px;height:auto;width:auto;float:left;*padding-bottom:5px;_padding-bottom:3px;position:relative;}
.ks-cal-call .ks-cal-hd {background:url('http://img04.taobaocdn.com/tps/i4/T1aqNrXbFvXXXXXXXX-10-100.gif') repeat-x 0 -41px; width:181px;height:24px;background-color:#40a6ff;position:relative;}
.ks-cal-call .ks-cal-hd a {}
.ks-cal-call .ks-cal-hd a.ks-prev {overflow:hidden;text-indent:-100em;background:url('http://img04.taobaocdn.com/tps/i4/T1aqNrXbFvXXXXXXXX-10-100.gif') no-repeat 0 4px; height:14px;width:10px;float:left;position:absolute;left:3px;top:3px;/*background-color:red;*/font-size:10px;text-decoration:none;color:white;}
.ks-cal-call .ks-cal-hd a.ks-next {overflow:hidden;text-indent:-100em;background:url('http://img04.taobaocdn.com/tps/i4/T1aqNrXbFvXXXXXXXX-10-100.gif') no-repeat 0 -15px; height:14px;width:10px;position:absolute;right:3px;top:3px;/*background-color:red;*/font-size:10px;text-decoration:none;color:white;}

.ks-cal-call .ks-cal-hd a.ks-title,
.ks-cal-call .ks-cal-hd a.ks-title:link,
.ks-cal-call .ks-cal-hd a.ks-title:visited {color:white;text-decoration:none;position:relative;margin-left:auto;margin-right:auto;width:77px;height:17px;line-height:17px;display:block;top:3px;text-align:center;}
.ks-cal-call .ks-cal-hd a.ks-title:hover {border:1px solid #8cc6ff;top:2px;color:#f0ff00;background:url('http://img04.taobaocdn.com/tps/i4/T1aqNrXbFvXXXXXXXX-10-100.gif') repeat-x 0 -75px;}


.ks-cal-call .ks-cal-bd {width:181px;}
.ks-cal-call .ks-cal-bd .ks-whd {width:auto;height:19px;overflow:hidden;background-color:#cce7ff;margin-top:4px;*padding-left:2px;*width:179px;}
.ks-cal-call .ks-cal-bd .ks-whd span {float:left;width:25.857px;text-align:center;line-height:19px;}

/*--hack for ff2 {{ --*/
.ks-cal-call .ks-cal-bd .ks-whd span, x:-moz-any-link {width:25px;}
.ks-cal-call .ks-cal-bd .ks-whd span, x:-moz-any-link, x:default {width:25.857px;}
/*--hack for ff2 }} --*/

.ks-cal-call .ks-cal-bd .ks-dbd {width:181px;height:auto;background-color:white;margin-top:4px;*padding-left:2px;*width:179px;}
.ks-cal-call .ks-cal-bd .ks-dbd a,
.ks-cal-call .ks-cal-bd .ks-dbd a:link,
.ks-cal-call .ks-cal-bd .ks-dbd a:visited {color:#004499;float:left;width:25.857px;text-align:center;line-height:22px;text-decoration:none;}
.ks-cal-call .ks-cal-bd .ks-dbd a:hover {background-color:#ebf4fc;}

/*--hack for ff2 {{ --*/
.ks-cal-call .ks-cal-bd .ks-dbd a, x:-moz-any-link {width:25px;}
.ks-cal-call .ks-cal-bd .ks-dbd a:link, x:-moz-any-link {width:25px;}
.ks-cal-call .ks-cal-bd .ks-dbd a:visited, x:-moz-any-link {width:25px;}
.ks-cal-call .ks-cal-bd .ks-dbd a,
.ks-cal-call .ks-cal-bd .ks-dbd a:link,
.ks-cal-call .ks-cal-bd .ks-dbd a:visited, x:-moz-any-link, x:default {width:25.857px;}
/*--hack for ff2 }} --*/

/*--日期的状态--*/
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null:visited {background:white;color:white;cursor:default;}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today:visited {color:#ff6600;font-weight:bold;}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected:visited {background-color:#cce7ff;}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled:visited{color:#8c8c8c;cursor:default;background-color:white;}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range:visited {background-color:#cce7ff;}

.ks-cal-call .ks-cal-ft {text-align:center;width:181px;}

/*--时间控件--*/
.ks-cal-call .ks-cal-ft .ks-cal-time {background-color:#e5e5e5;display:inline-block;*display:inline;*zoom:1;padding:3px 5px;*padding:2px 5px;_padding:3px 5px;width:95px;position:relative;padding-right:18px;*top:-2px;_top:-1px;}
.ks-cal-time .cta {width:13px;height:20px;position:absolute;right:0;top:0;line-height:0;}
/*hack for Opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
	head~body .ks-cal-call .ks-cal-ft .ks-cal-time {padding:2px 5px 2px 0px;display:block;float:left;width:110px;margin-left:13px;}
	head~body .ks-cal-call .ks-cal-ft .ct-ok {margin-left:0px;}
	head~body .ks-cal-time .cta{}
}
.ks-cal-time button {width:13px;height:10px;border:0;overflow:hidden;/*text-indent:-100em;*/background:url("http://img05.taobaocdn.com/tps/i5/T1McxAXXRHXXXXXXXX-29-10.gif") no-repeat;cursor:pointer;}
.ks-cal-time button.u {background-position:0 0;}
.ks-cal-time button.d {background-position:-16px 0;}
.ks-cal-time span {cursor:pointer;}
.ks-cal-time span.on {padding:0 1px;background-color:#333;color:white}

/*--时间列表--*/
.ks-cal-timelist {position:absolute;height:auto;width:auto;_width:205px;border:1px solid #9bc0e0;background-color:#f2f2f2;z-index:100;}
.ks-cal-timelist ul {width:50px;border-left:1px solid #9bc0e0;float:left;list-style:none;padding:0px;margin:5px 0px;}
.ks-cal-timelist ul.first {border:0px !important;}
.ks-cal-timelist ul li {text-align:center;float:left;width:100%;}

.ks-cal-timelist ul li a,
.ks-cal-timelist ul li a:link,
.ks-cal-timelist ul li a:visited {line-height:18px;text-decoration:none;color:black;}
.ks-cal-timelist ul li a:hover {background-color:#cce7f2;color:#004499;}

/*--选择月份容器--*/
.ks-setime {position:absolute;left:0px;top:28px;right:0px;width:180px;background:#f2f2f2;border:1px solid #9bc0e0;text-align:center;vertical-align:middle;height:auto;padding-top:10px;padding-bottom:10px;}
.ks-setime p {height:30px;margin:0;padding:0;}
.ks-setime select,.ks-setime input {width:80px;}

/*--选择时间的容器--*/
.ks-selectime {position:absolute;left:0px;bottom:28px;*bottom:32px;right:0px;width:180px;background:#f2f2f2;border:1px solid #9bc0e0;text-align:center;vertical-align:middle;height:auto;padding-top:10px;padding-bottom:10px;}
.ks-selectime a,
.ks-selectime a:link,
.ks-selectime a:visited {margin-left:10px;display:inline-block;*display:inline;float:left;text-decoration:none;color:#004499;}
.ks-selectime a:hover {text-decoration:underline;}
.ks-selectime a.x {position:absolute;right:3px;bottom:2px;font-weight:bold;font-family:"comic Sans MS"}
.ks-selectime select,.ks-selectime input {width:80px;}

/*--日历选择组件--*/
.ks-select-calendar{width:126px;height:20px;*width:122px;*height:18px;_width:124px;border:1px solid #ccc;background:url(http://img03.taobaocdn.com/tps/i3/T1cJ4PXfXGXXXXXXXX-16-13.gif) no-repeat 106px 4px;}
.lot-calendar{position:absolute;top:0px;left:222px;z-index:100;}


/**
 * wbc component
 */
.wbc{
    display: inline-block;
    vertical-align: middle;
}
.goog-ext-mask{
    background: #fff;
    filter:alpha(opacity=80);
    opacity: 0.8;
    cursor: wait;
}
.wbc-loading{
    background: url(http://img02.taobaocdn.com/tps/i2/T16WJqXaXeXXXXXXXX-32-32.gif) no-repeat 0 50%;
    line-height: 32px;
    padding: 10px 0 10px 36px;
    color: #666;
    cursor: wait;
}
.goog-popup{
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #666 #666 #ccc;
}
.goog-popup .goog-contentbox{
    padding: 10px;
}
.goog-popup .goog-button .goog-contentbox{
    padding: 0;
}

/*.goog-button .goog-disabled .goog-button-inner-box{*/
    /*cursor: not-allowed;*/
/*}*/

/**
 * wbc-switchButton
 */
.wbc-switchButton .goog-button-inner-box{
    overflow: hidden;
    text-indent: -99em;
}
.wbc-switchButton .goog-button-collapse-right .goog-button-inner-box{
    background: url(http://img04.taobaocdn.com/tps/i4/T1PriSXnphXXXXXXXX-9-13.png) no-repeat 50% 50%;
}
.wbc-switchButton .goog-button-collapse-left .goog-button-inner-box{
    background: url(http://img02.taobaocdn.com/tps/i2/T1uYiSXoXhXXXXXXXX-8-13.png) no-repeat 50% 50%;
}

/* calendarScheduel */
.wbc-calendarScheduel .wbc-calendarScheduel-header,
.wbc-calendarScheduel .wbc-calendarScheduel-body{
    width: 98%;
    table-layout: fixed;
    color: #333;

}

.wbc-calendarScheduel .wbc-calendarScheduel-header th,
.wbc-calendarScheduel .wbc-calendarScheduel-cell{
    border: 1px solid #ccc;
    padding: 4px;
    text-align: left;
}
.wbc-calendarScheduel .wbc-calendarScheduel-header th{
    border-top: 4px solid #ccc;
    height: 24px;
    line-height: 24px;
}

.wbc-calendarScheduel .wbc-calendarScheduel-cell{
    vertical-align: top;
}

.wbc-calendarScheduel .wbc-calendarScheduel-box-date{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    margin-top: -6px;

}

.wbc-calendarScheduel .wbc-calendarScheduel-cell-current{
    background: #ffffd6;
}


/*.wbc-calendarScheduel .wbc-calendarScheduel-cell-before,*/
/*.wbc-calendarScheduel .wbc-calendarScheduel-cell-later{*/
    /*background: #efefef;*/
/*}*/

.wbc-calendarScheduel .wbc-calendarScheduel-cell-ago{
/*.wbc-calendarScheduel .wbc-calendarScheduel-cell-future{*/
    background: #efefef;
}

.wbc-calendarScheduel-cell-later .wbc-calendarScheduel-box-date,
.wbc-calendarScheduel-cell-future .wbc-calendarScheduel-box-date{
    color: #ccc;
}

/*.wbc-calendarScheduel-cell-before .wbc-calendarScheduel-box-date,*/
.wbc-calendarScheduel-cell-ago .wbc-calendarScheduel-box-date{
    color: #ccc;
}

/* dropMenu */
.wbc-dropMenu .goog-button-collapse-right .goog-button-inner-box input{
    margin-right: 4px;
}

.wbc-dropMenuPopupBox .goog-contentbox{
    padding:  10px;
}

.wbc-dropMenuPopupBox .goog-button .goog-contentbox{
    padding:  0;
}

/*tree*/
.tree .hitarea,
.fake-tree .hitarea,
.tree li{
    background-image: url(http://img02.taobaocdn.com/tps/i2/T1Th1DXidqXXXXXXXX-90-150.png);
    background-repeat: no-repeat;
}

.tree, .fake-tree{
    line-height: 19px;
}

.tree .loading-hitarea,
.tree .hitarea,
.fake-tree .hitarea{
    /*float: left;*/
    display: inline-block;
    width: 25px;
    height: 19px;
    vertical-align: middle;
}


/*设定伪数的样式*/
.fake-tree ul,
.tree ul{
    padding-left: 14px;
}
.fake-tree .hitarea{
    cursor: not-allowed;
    background-position: -5px -128px;
}

.tree .hitarea{
    cursor: pointer;
}
.tree li{
    position: relative;
    background-position: -89px 0;
    background-repeat: repeat-y;
    white-space: nowrap;
    overflow: hidden;
}

.tree li.last,
.tree li.root{
    background: none;
}

.tree .collapse-hitarea{ background-position: -5px -28px; }
.tree .expand-hitarea{ background-position: -30px -28px; }
.tree .leaf-hitarea{ background-position: -55px -27px; }

.tree .last-collapse-hitarea{ background-position: -5px -4px; }
.tree .last-expand-hitarea{ background-position: -30px -4px; }
.tree .last-leaf-hitarea{ background-position: -55px -4px; }

.tree .root-collapse-hitarea{ background-position: -55px -102px; }
.tree .root-expand-hitarea{ background-position: -30px -102px; }

.root .root-leaf-hitarea{
    cursor: not-allowed; 
    background-position: -5px -52px;
}

.tree-no-root .first-hitarea .collapse-hitarea{ background-position: -5px -77px; }
.tree-no-root .first-hitarea .expand-hitarea{ background-position: -5px -102px; }

/*loading*/
.tree .loading-hitarea{
    position: absolute;
    top: 2px;
    right: 0;
    background: url(http://img04.taobaocdn.com/tps/i4/T163d4XlRsXXXXXXXX-10-10.gif) no-repeat 50% 50%;
}



.wbc-none{ display: none; }

/* page dpl */
#pageHeader{
    border: 1px solid #ccc;
    height: 30px;
    padding: 10px 0;
}
#pageHeader .main{
    float: left;
}
#pageHeader .side{
    float: right;
    padding-right: 20px;
}
#pageHeader h2{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #980101;
    padding: 0 10px;
}
#pageHeader h2 .back {
    font-family: \5b8b\4f53;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    color: #333;
}
#pageHeader .crumb a,
#pageHeader .crumb span{
    display: inline-block;
    vertical-align: middle;
}
#pageHeader .crumb h2{
    padding: 0;
}


/**
 * 数据表格列表
 */
.dataList table{
    width: 100%;
    text-align: left;
}
.dataList th{
    background: #ebebeb;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
}

.dataList tr.selected{
    background: #ffffd6;
}

.dataList td{
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}
.dataList td.checkbox{
    text-align: center;
}
.row {
    background: #ebebeb;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    padding: 2px 6px;
}