/**
 * 小二工作台 index页
 *
 * @author xianyu.hrh@taobao.com
 * @update wb-huangshiyu@taobao.com
 * 2012.04.10
 */
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

/** 重置列表元素 **/
ul, ol ,li{ list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

/* reset end */

body{ background: #fff; overflow: hidden; }

#quickmenu .hd s,
.menutree ins
{
    background-image: url(http://127.0.0.1/bench.png);
    background-repeat: no-repeat;
}

/* 页面布局 */
#header{
    background: #980101;
    height: 40px;
    /*border-bottom: 1px solid #8d0100;*/
}
#logo{
    float: left;
    width: 240px;
    margin-left: 10px;
}
#logo h1, #logo h2,
#userinfo, #quickmenu{
    float: left;
}
#logo h1 a {
    float: left;
    width: 112px;
    height: 40px;
    background: url(logo.png) no-repeat left center;
}
#logo .icon {
    float: left;
    width: 18px;
    height: 40px;
    background: url(logo.png) no-repeat -112px center;
}
#logo h2 a {
    float: left;
    width: 72px;
    height: 40px;
    background: url(logo.png) no-repeat right center;
}
#side{
    float: left;
    margin-right: 25px;
}

#userinfo{
    color: #ecc9b5;
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 20px;
}
#userinfo a{
    color: #fff3db;
    font-weight: bold;
    text-decoration: none;
}

#quickmenu{
    height: 33px;
    width: 142px;
    margin-top: 7px;
}
#quickmenu .hd{
    position: relative;
    padding: 0 10px;
    background: #c40031;
    border: 1px solid #8d0100;
    border-bottom: 0;
    height: 32px;
    color: #fff3db;
    line-height: 32px;
    cursor: pointer;
}
#quickmenu h3{
    font-size: 12px;
    width: 110px;
    overflow: hidden;
}
#quickmenu .hd s{
    position: absolute;
    width: 7px;
    height: 4px;
    right: 15px;;
    top: 15px;
    background-position: -7px -24px;
}

/* content */
#lft{
    float: left;
    width: 170px;
}
#lft .hd{
    height: 45px;
    border-bottom: 1px solid #e5e5e5;
}
#lft .hd h3{
    line-height: 45px;
    font-size: 14px;
    text-indent: 10px;
}
#lft .bd{
    padding-top: 5px;
    border-right: 1px solid #e5e5e5;
}

/* 菜单树 */
.menutree{
    line-height: 24px;
}
.menutree li ul{ padding-left: 26px; display: none; }
.menutree ul ul{ padding-left: 20px; }
.menutree h5, .menutree h6{ font-weight: normal; }
.menutree .hitarea{ position: absolute; }

.menutree a{ color: #000; }

.menutree h4{
    position: relative;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 6px solid #fff;
    cursor: pointer;
}
.menutree .expand h4{
    border-left: 6px solid #c00;
    color: #c00;
}
.menutree h4 ins{
    left: 8px;
    top: 11px;
    width: 4px;
    height: 7px;
    background-position: 0 -28px;
}
.menutree .expand h4 ins{
    top: 13px;
    width: 7px;
    height: 4px;
    background-position: 0 -24px;
}
/* 二级及以下菜单项，含展开、收缩图标 */
.menutree .item{
    position: relative;
    cursor: pointer;
}
.menutree .item ins{
    width: 9px;
    height: 6px;
    right: 10px;
    top: 9px;
    background-position: -13px -28px;
}


#rgt iframe{ width: 100%; }