/*
顶部及左侧导航菜单
*/
body{
    min-width:990px;
}
#content{
    overflow:hidden;
    width:100%;
}
#header a:active,#header a{
    color:#fff;
}
/*sprite*/
#logo h1 a,#logo h2 a,.currentSecondItem .expandArrow,#navSideContent .help s{
    background:url(http://img01.taobaocdn.com/tps/i1/T1wriSXn4hXXXXXXXX-170-59.png) no-repeat;
    overflow:hidden;
    display:inline-block;
    text-indent:10000px;
}
/*页头*/
#header{
    height:50px;
    background:#BF0000;
    color:#fff;
}
#logo{
    float:left;
    margin-left:20px;
    margin-top:5px;
}
#loginInfo,#quickLink{
    float:right;
    margin-right:20px;
    margin-top:10px;
}
#loginInfo{
    padding:10px;
}
#logo h1,#logo h2{
    float:left;
}
#logo h1{
    font-size:16px;
    margin-right:10px;
}
#logo h1 a{
    width:170px;
    height:43px;
    line-height:43px;
}
#logo h2 a{
    width:74px;
    height:24px;
    line-height:24px;
    background-position: -162px -43px;
    margin-top:30px;
}

#logo h1 em{
    font-size:24px;
}
#logo h2{
    margin-right:10px;
    height:24px;
    line-height:24px;
}
#loginInfo .nick{
    color:#ecc9b5;
}
#loginInfo .nick{
    color:#ecc9b5;
}
/*右侧快速选择菜单*/
#quickLink {
    
}
.crmLists{
    width:101px;
    position:absolute;
    top:38px;
    left:-1px;
    height:0px;
    overflow:hidden;
    background:#bf0000;
    z-index:9999;
    border:1px solid #8d0100;
    border-top:0px;
    padding:0px 10px;
}
.crmLists .1menuItem{
    display:none;
}
.1crmLists .selected{
    display:block;
}

.crmLists a{
    cursor:pointer;
}
.crmTitle{
    padding:10px;
    position:relative;
    border:1px solid #8d0100;
    color:#fff3db;
    font-weight:bold;
    float:right;
    padding-right:20px;
    border-bottom:0px;
}
.selectedCRM{
   float:left;
}
#quickLink .selectArrow{
/*用border造三角形*/
    position:absolute;
    top:17px;
    right:5px;
	height:0;
	width:0;
	font-size: 0;
	line-height: 0;
	border-width:5px;
    border-color:#fff transparent transparent  transparent ;
	border-style:solid dashed  dashed dashed ;
}
/* 左侧1级菜单div */
#navSideContent{
    margin-left:20px;
    margin-top:20px;
    float:left;
    position:relative;
    overflow:hidden;
    width:160px;
}
#navMenu{
    overflow:auto;
}
#navSideContent .help{
    height:150px;
    background:#f5f5f5;
}
#navSideContent .help a{
    color:#666666;
}
#navSideContent .help s{
    display:block;
    height:7px;
    width:153px;
    background-position:-0px -43px;
}
#temaiMenus{
    margin:10px 0px 0px 20px;
}
.menuTilte{
    font-size:18px;
    font-weight:bold;
    border-bottom:1px solid #cccccc;
}
.currentItem{
    color:#cc0000;
}
/*二级菜单ul*/
.secondItemLists{
    display:none;
    margin-left:10px;
}
.thirdItemLists{
    display:none;
}
.topItem,.secondItem,.thirdItem{
    padding:5px 0px;
}
.currentTopItem .secondItemLists{
    display:block;
}
/*一级菜单箭头*/
.topItem h3,.secondItem h4{
    position:relative;
    cursor:pointer;
}
.topItem  .arrow,.secondItem .arrow,#mainContent .toggleSwitcher{
    position:relative;
    top:-5px;
	height:0;
	width:0;
	font-size: 0;
	line-height: 0;
	border-width:5px;
    border-color:transparent transparent transparent  #666666;
	border-style:dashed dashed  dashed solid ;
}
.topItem .expand  .arrow,.secondItem  .expand .arrow{
    border-color:#666666 transparent transparent  transparent;
	border-style:solid dashed  dashed dashed ;
    top:-2px;
    margin-right:3px;
}
.currentSecondItem h4 .expandArrow{
    width:10px;
    height:8px;
    background-position:-7px -43px;
    margin-left:20px;
}
.currentSecondItem .thirdItemLists{
    display:block;
    margin-left:20px;
}
.currentTopItem h3{
    
}
/*
*/
/* 右侧主体内容*/
#mainContent{
    float:left;
    margin:20px;
    position:relative;
    overflow:auto;
}
 .toggleSwitcher{
    z-index:10000;
    position:absolute;
    top:50%;
    right:0px;
    border-width:10px;
    border-color:transparent transparent transparent  #666666;
	border-style:dashed dashed dashed solid ;
}
#mainContent .expand{
    left:-45px;
    border-color:transparent #666666 transparent  transparent;
	border-style:dashed solid  dashed dashed ;
}
/*iframe*/
#mainContent iframe{
   width:100%;
   height:95%;
   border:0px;
   overflow:auto;
}
/*面包屑*/
#pageHeader{
    border:0px;
    border-bottom:1px solid #ccc;
    padding:5px;
}
#pageHeader .crumb{
      padding-left:10px;
}
#pageHeader .crumb a{
    color:#333;
    text-decoration:under;
}
#pageHeader .side{
    float:right;
}
.statusValue{
    font-weight:bold;
    color:#b0002d;
}
/* 数据区 */
.dataContainer{
    margin-top:20px;
}
.dataList{
    overflow:auto;
}